extends layout

mixin review_activity(username, movie)
  .review_activity-wrapper
    p #[em #{username}] has posted a review on #[em #{movie}]

mixin added_activity(username, movie, movielist)
  .added_activity-wrapper
    p #[em #{username}] has added #[em #{movie}] to their media list: #[em #{movielist}]

block content
  div(class="activity")
    h2 Recent Activity 
      ul
        each activity in activities
          if !activity.list
            li 
              +review_activity(activity.username, activity.movie)
          else if activity.list
            li
              +added_activity(activity.username, activity.movie, activity.list)
              
