extends layout
mixin friend_mix(friendname)
    .friends_mix-wrapper



block content 

    div(class="catalog_search_results")
        if(searchUserResults)
            h2 You searched for: "#{search}"
            table
                tr
                    th
                    th Name
                    th Last Name
                    th User Name
                    th Option
                each result in searchUserResults
                    tr
                        th
                            img(src="/pictures/profile.png", alt="#{results.title} poster") 
                        th 
                            a(href="http://localhost:3000/users/profile/" + result.username) #{result.first_name}
                        th #{result.last_name}
                        th #{result.username}
                        th
                            form(action="/users/search", class="catalog_search", method="POST")
                                input(type="submit", value="+ Friend")
                                input(name="new_friend_username", type="hidden", value=result.username)


            

    
    div(class="catalog_searchbar_container")
        if(!searchUserResults)
            h1 Add a Friend
            form(action="/users/search", class="catalog_search", method="POST")
                input(type="search1", name="userSearchBox" id="catalog_search_box", placeholder="Search for a new friend...")
                input(type="submit", value="Search")

        
      
    div(class='friendslist border')
        if(!searchUserResults)
            h1 #{username}'s Friends List
                ul
                    each friend in friends 
                        li
                            img(src="/pictures/profile.png" alt ="Profile Picture" style="width:75px;height:75px; float:left; padding:10px")
                            br
                            
                            form(action="/users/friends", class="remove_friend_button", method="POST")
                                label #{friend.name}
                                    a(href="http://localhost:3000/users/profile/" + friend.username)
                                        p (#{friend.username})
                            
                                input(type="submit", value="Remove")
                                input(name="frienduser", type="hidden", value=friend.username)
                            br

                                
                        
      
        
    //a(href='http://localhost:3000/users/profile')