extends layout

mixin review(username, review, rating, date)
  h3(class="username_review") #{username}   
  h3(class="review_info") #{rating}   #{date}
  p(class="user_review") #{review}

block content
  div(class="media_container")
    h1(id="trailer") Movie Trailer
    h1(id="poster") Poster
    h1(id="title2") #{media.name}
    h2(id="add_list") Add to list
    h2(id="rating") Rating 
      if (media.avg_rating)
        | #{media.avg_rating} /10
      else
        | N/A
    p(id="desc") #{media.description}


    ul(class="extra_desc")
      li Year: #{media.year}
      li 
        if (isMovie)
          | Director: #{media.director} 
        else
          | Creator: #{media.creator}
      li Cast: #{cast}
    
    div(class="user_review_container")
      ul
        li 
          +review('toad', 'omg, movie toooooooo gooooood', '10/10', 'Jun, 19, 2018')
        li
          +review('toad', 'omg, movie toooooooo gooooood', '10/10', 'Jun, 19, 2018')
        li
          +review('toad', 'omg, movie toooooooo gooooood', '10/10', 'Jun, 19, 2018')
