extends layout

mixin comment(username, comment, date)
  h3(class="username_review") #{username}   
  h3(class="review_info") #{date}
  p(class="user_review") #{comment}

mixin review(username, review, rating, date, id, comments)
  h3(class="username_review") #{username}   
  h3(class="review_info") Rated #{rating}/10 on #{date}
  p(class="user_review") #{review}
  form(action="/catalog/" + media.id, method="POST", class="review_form")
    input(type="text", placeholder="Comment...", name="comment")
    input(type="submit", value="Comment")
    input(name="reviewId",type="hidden", value=id)
  ul
    each comment in comments
      li
        +comment(comment.username_comment, comment.comment_text, comment.date_created)

block content
  div(class="media_container")
    h1(id="trailer") Movie Trailer
    img(src="/pictures/posters/" + media.id + ".jpg", alt="#{media.name} poster") 
    h1(id="title2") #{media.name}
    form(action="/catalog/" + media.id, method="POST", id="rating")
      select(name="userList")
        each list in userLists
          option(value=list) #{list}
      input(type="submit", value="Add to List")
    h2(id="rating") Rating 
      if (media.avg_rating)
        | #{media.avg_rating} /10
      else
        | N/A
    p(id="desc") #{media.description}


    ul(class="extra_desc")
      li Year: #{media.year}
      li 
        if (isMovie)
          | Director: #{media.director} 
        else
          | Creator: #{media.creator}
      li Cast: #{cast}
    
    div(class="user_review_container")
      form(action="/catalog/" + media.id, method="POST", class="review_form")
          input(type="text", placeholder="Review...", name="review")
          input(type="submit", value="Rate")
          select(name="rating")
            for i in [1,2,3,4,5,6,7,8,9,10]
              option(value=i) #{i}
      ul
        each reviewData in reviews
          li
            +review(reviewData.review.username, reviewData.review.review_text, reviewData.review.rating, reviewData.review.date_created, reviewData.review.id, reviewData.comments)

        //- li 
        //-   +review('toad', 'omg, movie toooooooo gooooood', '10', 'Jun, 19, 2018')
        //- li
        //-   +review('toad', 'omg, movie toooooooo gooooood', '10', 'Jun, 19, 2018')
        //- li
        //-   +review('toad', 'omg, movie toooooooo gooooood', '10', 'Jun, 19, 2018')
