extends layout

block content
    br
    br
    form(action="/users/my-media", class="catalog_search", method="POST")
      input(type="text", name="new_list_name", placeholder="Enter new list name")
      input(type="submit", value="Add to Media List")
    h1 My Media Lists
    div(class="medialist border")
        ul
            each medlist in media_list
                li 
                    form(action="/users/my-media", class="edit_profile_button", method="POST")
                            h2 #{medlist.name}
                            input(type="submit", value="Remove List")
                            input(name="removedList", type="hidden", value=medlist.name)
                    br       
                    each media in medlist.media
                        a(href="http://localhost:3000/catalog/" + media.name) #{media.name} (#{media.year})
                        
                        form(action="/users/my-media", class="edit_profile_button", method="POST")
                            input(type="submit", value="Remove Media")
                            input(name="removedMedia", type="hidden", value=media.id)
                            input(name="remMedia_list", type="hidden", value=medlist.name)
                        br

