extends layout 

mixin review_activity(username, movie)
  .review_activity-wrapper
    img(src='/pictures/speech.png' alt="Thumbs")
    p #[em #{username}] has posted a review on #[em #{movie}]

mixin added_activity(username, movie, movielist)
  .added_activity-wrapper
    img(src='/pictures/plus.png' alt="Added a movie")
    p #[em #{username}] has added #[em #{movie}] to their media list: #[em #{movielist}]

block content

    div(class='profile_header tab')
        ul
            li
                if (myprofile)
                    h1 My Profile: #[strong #{username}]
                else 
                    h1 Profile: #[strong #{username}]
            li
                img(src="/pictures/profile.png" alt ="Profile Picture" style="width:250px;height:250px;")
            li
                h3 Following: #{count}   
            li
                if (myprofile)
                    form(action="/users/editprofile/", class="edit_profile_button", method="POST")
                        input(type="submit", value="Edit Profile")
                        input(name="current_user_fname", type="hidden", value=fname )
                        input(name="current_user_lname", type="hidden", value=lname )
                        input(name="current_user_email", type="hidden", value=email )
                        input(name="current_user_un", type="hidden", value=username )


   

    div(class="basic_info")
        br
        ul
            li
                h4 Name: #{fname} #{lname}
            li
                h4 Email: #{email}

    //div(class="medialist")
    //    h2 #{username}'s Media List(s)
    
    div(class="medialist border")
        h2 #{username}'s Media List(s)
        ul
            each medlist in media_list
                li 
                    h3 #{medlist.name}
                         
                    each media in medlist.media
                        a(href="http://localhost:3000/catalog/" + media.id) #{media.name} (#{media.year})
                        br
                    br
                

    div(class="activity border")
        h2 Recent Activity 
        ul
            each activity in activities
                if !activity.list
                    li 
                        +review_activity(activity.username, activity.movie)
                
                else if activity.list
                    li
                        +added_activity(activity.username, activity.movie, activity.list)
            

