extends layout 

mixin review_activity(username, movie)
  .review_activity-wrapper
    img(src='/pictures/speech.png' alt="Thumbs")
    p #[em #{username}] has posted a review on #[em #{movie}]

mixin added_activity(username, movie, movielist)
  .added_activity-wrapper
    img(src='/pictures/plus.png' alt="Added a movie")
    p #[em #{username}] has added #[em #{movie}] to their media list: #[em #{movielist}]

block content

    div(class='profile_header tab')
        ul
            li
                h1 My Profile: #[strong #{username}]
            li
                img(src="/pictures/profile.png" alt ="Profile Picture" style="width:250px;height:250px;")
            li
                h3 Friends: 14     
            li

                form(action="/users/editprofile", class="edit_profile_button", method="POST")
                    input(type="submit", value="Edit Profile")

   

    div(class="basic_info")
        br
        ul
            li
                h5 Name: 
            li
                h5 Email:  
            li  
                h5 Bio:

    div(class="medialist")
        h2 #{username}'s Media List(s)
        ul
            each media in media_list
                li
                    p #[em #{media.name}]

    div(class="activity border")
        h2 Recent Activity 
        ul
            each activity in activities
                if !activity.list
                    li 
                        +review_activity(activity.username, activity.movie)
                
                else if activity.list
                    li
                        +added_activity(activity.username, activity.movie, activity.list)
            

